@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles.css */
.custom-toast {
    border-radius: 8px !important; /* Ensuring it applies */

    background-color: whiteß !important;
    color: black !important;
    width: 95%;
    margin: 20px auto;
}


/* Override default positioning to center the toast container */
.ToastContainer--top-center {
    width:  100%; /* Full width to ensure centering within the viewport */
    display: flex;
    justify-content: center !important; /* Center content horizontally */
    padding: 0; /* Remove any default padding */
}